body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart {
    margin-left: auto;
}

#cart-icon {
    width: 40px; /* Ajustez la taille du logo du panier */
}

#cart-count {
    background-color: #ff0000; /* Couleur de fond pour le compteur de produits dans le panier */
    color: #fff;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 14px;
    position: relative;
    top: -15px;
    left: -10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 30%;
}

.product img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
